.strength-blocks {
  display: flex;
  gap: 5px;
  margin-top: 10px;

  &__block {
    flex: 1;
    height: 5px;
    border: 1px solid rgb(202, 194, 194);
    border-radius: 5px;
    background-color: #ddd;

    &--red {
      background-color: red;
    }

    &--yellow {
      background-color: yellow;
    }

    &--green {
      background-color: green;
    }
  }
}
