.app {
  padding-top: 20px;
}

.hint {
  font-size: 12px;
  margin: 0;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.eye {
  border: none;
  background-color: white;
  position: absolute;
  bottom: 6px;
  right: 15px;
}

.submit-btn {
  margin-top: 10px;
}

